/*  Dev Log:

	there is a small margin being created on the hero (padding-right, I believe, on the hero banner) .

	Nav-links are not displaying when collapsed. The id is correct, but it is not being pulled/dispalyed.
	Something is missing...

	Having issues styling the hero image.  It scales due to it being set in a column that is responsive.
	It also has styling set on it as well. I am likely going wrong with both : /  
	--> there must be a general way to set these banner images so that they responsive.  Should I use more 
		one image (i.e. a mobile sized file, one for tablet, and one for desktop?)
	
	Both the hero and the card sections have multiple offsets, and col size properties set. I must be doing this incorrectly.
	It seems foreced, and is only correct on certain screen sizes.  What is the correct way ot style a hero banner?

	
*/

// ==========================================================================
// Mixins
// ==========================================================================

//Media queries

@mixin for-size($size) {
	@if $size == tablet {
		@media (min-width: 576px) {
			@content;
		}
	} @else if $size == tablet_lg {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $size == desktop {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $size == desktop_lg {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $size == desktop_xlg {
		@media (min-width: 1400px) {
			@content;
		}
	} @else if $size == desktop_xxlg {
		@media (min-width: 1800px) {
			@content;
		}
	}
}

// ==========================================================================
// Variables
// ==========================================================================

/* ============================================= */
/*         Descriptive colors                    */
/* ============================================= */

$Curious-Blue: #2182bf;
$Curious-Blue_Washed: #2182bf85;
$Indigo: #4a0e99;
$Indigo-washed: #4a0e9962;
$Royal-Blue: #4f60e5;
$Royal-Blue_Washed: #4f61e57c;
$Cornflower-Blue: #6b87f6;
$Cornflower-Blue_Washed: #6b87f6b9;
$Biloba-Flower: #a792ff;
$Biloba-Flower_Washed: #a892ff71;
$Cod-Grey: #1a1a1a;
$Cello: #344d5e;
$Dim-Grey: #707070;
$Very-Light-Grey: #cccccc;
$white: #ffffff;
$background-off-white: #f8f9fa;

/* ============================================= */
/*         Base style colors                     */
/* ============================================= */

$font-primary-color: $white;
$font-secondary-color: $Cod-Grey;

/* ============================================= */
/*         Font stacks                           */
/* ============================================= */

$main-font: 'Fira Code', monospace;
$secondary-font: 'Heebo', sans-serif;

/* ============================================= */
/*         Font weights                          */
/* ============================================= */

//Heebo and Fira Code
$font-light: 300;
$font-regular: 400;

//Fira Code ONLY
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

//base styles

html,
body {
	background-color: $background-off-white;
}

.button {
	background-color: $white;
	color: $font-secondary-color;
}

.button-alt {
	color: $font-primary-color;
	background-color: transparent;
}

.button,
.button-alt {
	font-weight: $font-medium;
	display: inline-block;
	padding: 0.35em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	transition: all 0.2s;
}
.button:hover {
	background-color: $Curious-Blue;
}

.button-alt:hover {
	background-color: $white;
	color: $font-secondary-color;
	font-weight: $font-bold;
}

.top-border {
	border-top: 8px solid $Cello;
}

.border-primary-color {
	border: 4px solid $Curious-Blue;
}

.border-white {
	border: 4px solid $Curious-Blue;
}

.navbar,
.header {
	background-color: $white;
}

/* hero banner bg color - main element
event card bg color - second bottom element,
jobs bg color - second bottom element,
membership bg color - main element
footer - top element
*/

.bg-primary-color {
	background-color: $Curious-Blue;
}

/* event card bg color - first bottom element,
jobs bg color - first bottom element,
*/
.bg-primary-color-light {
	background-color: $Curious-Blue_Washed;
}

/*event card bg color - main element
jobs bg color - main element
*/
.bg-secondary-color {
	background-color: $Cornflower-Blue;
}
//training bg color - main element

.bg-tertiary-color {
	background-color: $Royal-Blue;
}

//training bg color - second bottom element
.quaternary-color {
	background-color: $Indigo;
}

//training bg colors - first bottom element
.quaternary-color-light {
	background-color: $Indigo-washed;
}

.quinary-color {
	background-color: $Biloba-Flower;
}

.quinary-color-light {
	background-color: $Biloba-Flower_Washed;
}

.footer-links {
	color: $font-primary-color;
}

//typography

.main-headline {
	font-weight: $font-bold;
	font-size: 2rem;

	@include for-size(tablet) {
		font-size: 1.8rem;
	}

	@include for-size(tablet_lg) {
		font-size: 1.6rem;
	}
	@include for-size(desktop) {
		font-size: 1.8rem;
	}
	@include for-size(desktop_xlg) {
		font-size: 2.1rem;
	}
}

.nav-link,
.card-text,
.featured-member-text,
.featured-copy {
	color: $font-secondary-color;
}

.nav-link {
	font-weight: $font-semi-bold;
}

.card-text,
.footer-info,
.footer-links,
.copy,
.classified-headline,
.featured-headline,
.featured-copy,
.featured-link {
	font-family: $secondary-font;
}

.members-headline,
.main-headline,
.event-headline h2,
.training-headline,
.card-title,
.nav-link,
.button,
.button-alt,
.classified-headline,
.featured-headline {
	font-family: $main-font;
}

.members-headline,
.main-headline,
.event-headline h2,
.training-headline,
.copy {
	color: $font-primary-color;
}

.members-headline,
.event-headline h2,
.training-headline {
	font-size: 2.2rem;
}

.copy {
	font-size: 1.6rem;
	font-weight: $font-light;
}

.members-headline,
.event-headline h2,
.training-headline {
	font-weight: $font-regular;
}

.classified-headline,
.featured-headline {
	font-weight: $font-regular;
	font-size: 1.2rem;
}

.featured-link {
	color: $Curious-Blue;
}

//headers styles

.header {
	height: 150px;
	padding: 0;
	box-shadow: 0 2px $Very-Light-Grey;
}

.navbar {
	padding-bottom: 0;
	padding-top: 0;
}

#logo {
	height: 120px;
	width: 120px;
	background-image: url('../images/HSF_Logo_Light.png');
	background-repeat: no-repeat;
	background-size: contain;
	@include for-size(desktop_xlg) {
		background-image: url('../images/HSF_Logo_Full.png');
		height: 100px;
		width: 420px;
	}
}

.nav-link:last-of-type {
	padding-right: 0;
}

//hero styles

.hero-banner-section {
	z-index: 1;
	position: relative;
	height: 100vh;
}

.main-headline-container {
	border-left: 4px solid $Biloba-Flower;
	height: 100%;
	margin-top: 50px;
	max-width: 400px;
	@include for-size(tablet) {
		max-width: 460px;
	}
	@include for-size(tablet_lg) {
		margin-top: 140px;
		max-width: 285px;
	}
	@include for-size(desktop) {
		margin-top: 240px;
		max-width: 100%;
	}
	@include for-size(desktop_xlg) {
		margin-top: 240px;
		max-width: 480px;
	}
}

.hero-banner-img {
	background-image: url('../images/hero-main-img.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 3;
	width: 100%;
	height: 400px;
	position: absolute;
	top: 360px;
	@include for-size(tablet) {
		top: 330px;
		height: 340px;
	}
	@include for-size(tablet_lg) {
		top: 60px;
		height: 340px;
	}
	@include for-size(desktop) {
		height: 400px;
		top: 160px;
	}
	@include for-size(desktop_lg) {
		height: 520px;
		top: 140px;
	}
}

.background-el-three-fourths-screen {
	height: 760px;
	z-index: -2;
	position: absolute;
	left: 0;
	top: 0px;
	@include for-size(tablet) {
		height: 710px;
	}
	@include for-size(tablet_lg) {
		top: 100px;
		border-top: 8px solid $Cello;
		height: 340px;
	}
	@include for-size(desktop) {
		top: 200px;
		height: 400px;
	}
}

.background-el-three-fourths-screen-bot-el-one {
	height: 20px;
	z-index: -1;
	position: absolute;
	top: 740px;
	@include for-size(tablet) {
		top: 690px;
	}
	@include for-size(tablet_lg) {
		top: 420px;
	}
	@include for-size(desktop) {
		top: 580px;
	}
}

.background-el-three-fourths-screen-bot-el-two {
	height: 20px;
	z-index: -1;
	position: absolute;
	top: 760px;
	@include for-size(tablet) {
		top: 710px;
	}
	@include for-size(tablet_lg) {
		top: 440px;
	}
	@include for-size(desktop) {
		top: 600px;
	}
}

// card styles

.event-section {
	margin-top: 200px;
	@include for-size(tablet) {
		margin-top: 0px;
	}
}

.event-icon {
	height: 150px;
	z-index: 3;
}
.event-icon-container {
	z-index: 3;
	margin-top: -50px;
}

.event-headline-row {
	margin-top: 10px;
	margin-bottom: 0px;
	@include for-size(tablet) {
		margin-bottom: 20px;
	}
}
.event-headline h2 {
	border-left: 4px solid $Biloba-Flower;
	padding-left: 20px;
	margin-top: 20px;
	@include for-size(tablet_lg) {
		min-width: auto;
		padding-right: 10px;
	}
}

.card-deck,
.card {
	z-index: 4;
}

.card {
	margin-top: 60px;
	@include for-size(tablet) {
		min-width: 300px;
	}
	@include for-size(tablet_lg) {
		min-width: auto;
	}
	@include for-size(desktop) {
		min-width: 280px;
	}
	@include for-size(desktop_lg) {
		min-width: auto;
	}
}

.background-el-full {
	height: 100%;
	z-index: 1;
	padding-bottom: 80px;
	@include for-size(tablet_lg) {
		height: 600px;
	}
}

.background-el-full-bot-el-one {
	margin-top: -20px;
	height: 20px;
	z-index: 1;
}
.background-el-full-bot-el-two {
	height: 20px;
	z-index: 1;
	@include for-size(tablet) {
		margin-bottom: 200px;
	}
}

// jobs and training section

// membership section

.members-section {
	margin-top: 200px;
	margin-bottom: 200px;
}

.members-icon {
	height: 150px;
	z-index: 3;
}
.members-icon-container {
	z-index: 3;
	margin-top: -50px;
}

.members-headline-container {
	margin-top: 20px;
	z-index: 2;
	@include for-size(desktop_xlg) {
		max-width: 500px;
	}
}

.members-headline {
	border-left: 4px solid $Biloba-Flower;
	font-size: 2rem;
	padding-left: 10px;
}

.membership-img {
	background-image: url('../images/members-photo-60.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	z-index: 1;
	width: 300px;
	height: 400px;
	left: 20px;
	top: 440px;
	@include for-size(tablet) {
		width: 440px;
		height: 480px;
		top: 400px;
		left: 85px;
	}
	@include for-size(tablet_lg) {
		height: 520px;
		width: 400px;
		left: 8%;
		top: 120px;
	}
	@include for-size(desktop) {
		height: 580px;
		width: 500px;
		left: 10%;
		top: -30px;
	}
	@include for-size(desktop_lg) {
		left: 15%;
		height: 620px;
		width: 540px;
	}
	@include for-size(desktop_xlg) {
		left: 28%;
		height: 620px;
		width: 540px;
	}
	@include for-size(desktop_xxlg) {
		left: 30%;
		height: 620px;
		width: 540px;
	}
}

.background-el-three-fourths-screen-left {
	height: 860px;
	position: relative;
	@include for-size(tablet) {
		height: 640px;
	}
	@include for-size(tablet_lg) {
		height: 550px;
	}
}

.background-el-three-fourths-screen-left-bot-el-one {
	margin-top: -20px;
	height: 20px;
}

.background-el-three-fourths-screen-left-bot-el-two {
	height: 20px;
}

//Training/Jobs section

.training-section {
	margin-top: 200px;
	margin-bottom: 200px;
}

.training-container {
	position: relative;
	margin-bottom: 200px;
}

.training-icon,
.jobs-icon {
	height: 150px;
	z-index: 3;
}
.training-icon-container,
.jobs-icon-container {
	z-index: 3;
	margin-top: -50px;
}

.training-headline-container {
	margin-top: 20px;
	z-index: 2;
	@include for-size(desktop_xlg) {
		max-width: 500px;
	}
}

.training-headline {
	border-left: 4px solid $Biloba-Flower;
	font-size: 2rem;
	padding-left: 10px;
}

.training-img {
	background-image: url('../images/training-img.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 300px;
	height: 400px;
	z-index: 5;
	position: absolute;
	top: 440px;
	@include for-size(tablet_lg) {
		width: 460px;
		height: 460px;
		top: 20px;
	}
	@include for-size(desktop) {
		top: -30px;
		left: 80px;
		height: 600px;
		width: 560px;
	}
	@include for-size(desktop_lg) {
		left: 140px;
		height: 620px;
		width: 560px;
	}
}

.jobs-img {
	background-image: url('../images/jobs-img-2.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 300px;
	height: 340px;
	z-index: 5;
	position: absolute;
	top: 440px;
	@include for-size(tablet_lg) {
		top: 40px;
		right: 0px;
		width: 375px;
		height: 440px;
	}
	@include for-size(desktop) {
		top: -30px;
		right: 40px;
		height: 560px;
		width: 500px;
	}
	@include for-size(desktop_lg) {
		top: -10px;
		right: 100px;
		height: 580px;
		width: 500px;
	}
}

.background-el-small {
	height: 880px;
	@include for-size(tablet_lg) {
		height: 480px;
	}
	@include for-size(desktop_lg) {
		margin-top: 40px;
	}
}

.background-el-small-bot-el-one {
	margin-top: -20px;
	height: 20px;
}

.background-el-small-bot-el-two {
	height: 20px;
}

// advert section

.advertisement-section {
	margin-bottom: 400px;
	@include for-size(tablet) {
		margin-top: 400px;
	}
	@include for-size(desktop_lg) {
		margin-top: 0px;
	}
}

.classifieds-img,
.featured-img {
	min-height: 250px;
}

.classifieds-container,
.featured-container {
	@include for-size(desktop) {
		height: 300px;
	}
}

// footer

// adds an offset border to top of footer
.footer-border-space {
	margin-top: 200px;
	border-top: 6px solid $Very-Light-Grey;
	padding: 3px 0 0;
}

.footer {
	position: relative;
}

.HSF_logo_footer {
	position: absolute;
	top: -101px;
	left: 50%;
	margin-left: -75px;
}

.logo_Dark {
	height: 180px;
}

.footer-top-el {
	height: 100%;
	padding-top: 110px;
	color: $font-primary-color;
}

.footer-bot-el {
	background-color: $Cod-Grey;
	height: 80px;
}

.social-link-icon {
	margin: 3px 10px 0;
	fill: $white;
}

.footer-links {
	text-decoration: none;
}
.footer-item {
	padding-bottom: 40px;
}
