// ==========================================================================
// Variables
// ==========================================================================

/* ============================================= */
/*         Descriptive colors                    */
/* ============================================= */

$Curious-Blue: #2182bf;
$Curious-Blue_Washed: #2182bf85;
$Indigo: #4a0e99;
$Royal-Blue: #4f60e5;
$Royal-Blue_Washed: #4f61e57c;
$Cornflower-Blue: #6b87f6;
$Cornflower-Blue_Washed: #6b87f6b9;
$Biloba-Flower: #a792ff;
$Biloba-Flower_Washed: #a892ff96;
$Cod-Grey: #1a1a1a;
$Cello: #344d5e;
$Dim-Grey: #707070;
$Very-Light-Grey: #cccccc;
$white: #ffffff;
$background-off-white: #f8f9fa;

/* ============================================= */
/*         Base style colors                     */
/* ============================================= */

.main-blue {
	background-color: $Curious-Blue;
}

.main-light-blue {
	background-color: $Cornflower-Blue;
}

.secondary-purple {
	background-color: $Indigo;
}

.secondary-light-purple {
	background-color: $Biloba-Flower;
}

$font-primary-color: $white;
$font-secondary-color: $Cod-Grey;

//border
//$border-color-light: $nobel;

//hover
//$hover-glow: $blue-stone;

//font
// $font-main-color: $tundora;
// $font-secondary-color: $wild-dove;
// $font-modal: $mine-shaft-opaque;

/* ============================================= */
/*         Font stacks                           */
/* ============================================= */

$main-font: 'Fira Code', monospace;
$secondary-font: 'Heebo', sans-serif;

/* ============================================= */
/*         Font weights                          */
/* ============================================= */

//Heebo and Fira Code
$font-light: 300;
$font-regular: 400;

//Fira Code ONLY
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

//base styles

html {
	background-color: $background-off-white;
}

body {
	background-color: $background-off-white;
}

.button{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.2s;
}
.button:hover{
 color:#000000;
 background-color:#FFFFFF;
}
// @media all and (max-width:30em){
//  a.button1{
//   display:block;
//   margin:0.4em auto;
//  }
} 

//typography

.nav-link {
	font-family: $main-font;
	font-weight: $font-semi-bold;
}

.headline {
	padding-left: 20px;
}

.main-headline {
	font-weight: $font-bold;
	font-size: 2.5rem;
}

.members-headline-container {
	border-right: 4px solid $Biloba-Flower;
	height: 190px;
}

.nav-link,
.card-text,
.featured-member-text {
	color: $font-secondary-color;
}

.card-title {
	font-family: $main-font;
}

.card-text {
	font-family: $secondary-font;
}

.members-headline,
.main-headline,
.event-headline,
.training-headline {
	color: $font-primary-color;
	font-family: $main-font;
}

.members-headline,
.training-headline,
.event-headline {
	font-weight: $font-regular;
	font-size: 2.25rem;
}

//headers styles
.header {
	height: 150px;
	background-color: white;
	padding: 0;
}

.logo {
	height: 120px;
}

.nav-link:last-of-type {
	padding-right: 0;
}

//hero styles

.hero-banner {
	z-index: 1;
	position: relative;
	height: 100vh;
}

.main-headline-container {
	border-left: 4px solid $Biloba-Flower;
	height: 280px;
	margin-top: 250px;
	padding-left: 20px;
}

.hero-banner-img-container {
	height: 600px;
	z-index: 3;
	margin-top: 150px;
	overflow: hidden;
	position: relative;
}

.hero-banner-img {
	background-image: url('../images/hero-main-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 3;
	height: 750px;
	width: 120%;
	position: absolute;
	left: -100px;
	top: 0;
}

.background-el-three-fourths-screen {
	height: 450px;
	z-index: -2;
	position: absolute;
	left: 0;
	top: 200px;
	border-top: 8px solid $Cello;
}

.background-el-three-fourths-screen-bot-el-one {
	height: 20px;
	z-index: -1;
	position: absolute;
	top: 422px;
	width: 93%;
}
.background-el-three-fourths-screen-bot-el-two {
	height: 20px;
	z-index: -1;
	position: absolute;
	top: 442px;
	background-color: $Biloba-Flower;
	width: 93%;
}

.right {
	left: 7%;
}

// card styles

.background-el-full {
	height: 450px;
	z-index: -2;
	position: absolute;
	left: 0;
	top: -60px;
	border-top: 8px solid $Cello;
}

.background-el-full-bot-el-one {
	height: 20px;
	z-index: -1;
	position: absolute;
	top: 422px;
	left: 22%;
	background-color: $Biloba-Flower-Washed;
	width: 78%;
}
.background-el-full-bot-el-two {
	height: 20px;
	z-index: -1;
	position: absolute;
	top: 442px;
	left: 22%;
	width: 78%;
}

.card {
	margin: 100px 80px 0;
}

.card-body {
	margin: 0 8%;
}

.event-icon {
	height: 150px;
	margin-top: -105px;
}

// jobs and training section

.background-el-small-left {
	height: 450px;
	z-index: 3;
	position: absolute;
	left: 0;
	top: 240px;
	border-top: 8px solid $Cello;
}
.background-el-small-left-bot-el-one {
	height: 20px;
	z-index: -1;
	position: absolute;
	top: 422px;
	left: 22%;
	background-color: $Biloba-Flower-Washed;
	width: 78%;
}
.background-el-small-left-bot-el-two {
	height: 20px;
	z-index: -1;
	position: absolute;
	top: 442px;
	left: 22%;
	background-color: $Biloba-Flower-Washed;
	width: 78%;
}

.background-el-small-right {
	height: 450px;
	z-index: 3;
	position: absolute;
	right: 0;
	top: 1040px;
	border-top: 8px solid $Cello;
}
.background-el-small-right-bot-el-one {
	height: 20px;
	z-index: -1;
	position: absolute;
	top: 422px;
	right: 22%;
	background-color: $Biloba-Flower-Washed;
	width: 78%;
}
.background-el-small-right-bot-el-two {
	height: 20px;
	z-index: -1;
	position: absolute;
	top: 442px;
	right: 22%;
	background-color: $Biloba-Flower-Washed;
	width: 78%;
}

.jobs-icon {
	height: 150px;
	margin: -60px 0 20px;
}

.training-icon {
	height: 150px;
	margin: -60px 0 20px;
}

.training-section {
	z-index: 1;
	position: relative;
	margin-bottom: 200px;
}

// membership styles

.section {
	z-index: 1;
	position: relative;
	height: 60vh;
}

.members-icon {
	height: 150px;
	margin: 140px 40px 20px 420px;
}

.member-icon-link {
	height: 0;
}

//advertisement section

.advert-section-container {
	margin-top: 300px;
	height: 30vh;
}

.featured-member-container,
.classifieds-container {
	border: 8px solid $Curious-Blue;
	padding: 10px;
}

.featured-member-container {
	margin-right: 40px;
}

.classifieds-container {
	margin-left: 40px;
}

// footer

// adds an offset border to top of footer
.footer-border-space {
	margin-top: 200px;
	border-top: 6px solid $Very-Light-Grey;
	padding: 3px 0 0;
}

.footer {
	position: relative;
}

.HSF_logo_footer {
	position: absolute;
	top: -101px;
	left: 46.5%;
}

.logo_Dark {
	height: 180px;
}

.footer-top-el {
	background-color: $Curious-Blue;
	height: 200px;
	padding-top: 130px;
	color: $font-primary-color;
}

.footer-bot-el {
	background-color: $Cod-Grey;
	height: 80px;
}

.social-link-icon {
	margin: 3px 10px 0;
	fill: $white;
}
